mixin sOpportunities(data)
	// start sOpportunities
	+b.SECTION.sOpportunities.section#sOpportunities&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 #[span.text-primary Возможности] для&nbsp;ресторанов
				h5 В&nbsp;апреле 2021 года Telegram официально анонсировал выход обновления в&nbsp;котором появилась онлайн-оплата товаров прямо в&nbsp;приложении мессенджера. Команда ChatFood первыми запустила на&nbsp;рынок общепита платформу для разработки чат-ботов и&nbsp;приема платежей.
			.row
				mixin card(i,title,text)
					.col-md-6
						+e.card 
							+pic(`card-${i}.png`,'','')
							h4!= title
							p!= text
				+card('1',`Получайте новых и&nbsp;мотивируйте к&nbsp;заказам текущих клиентов`,`Вам не&nbsp;нужно ничего делать, следуйте нашим рекомендациям и&nbsp;чат-бот будет продвигать себя сам, а&nbsp;вы&nbsp;будете получать заказы.`)
				+card('2',`Информация о&nbsp;каждом клиенте ресторана всегда под рукой`,`Отправляйте клиентам сообщения и&nbsp;уведомляйте о&nbsp;своих акциях, влияйте на&nbsp;количество заказов.`)
				+card('3',`Удобное управление заказами с&nbsp;компьютера или планшета`,`Управляйте заказами в&nbsp;удобном личном кабинете, а&nbsp;также получайте уведомления о&nbsp;заказах на&nbsp;телефон в&nbsp;чат-боте администратора.`)
				+card('4',`Бонусная и&nbsp;реферальная система для клиентов ресторана`,`Мотивируйте клиентов к&nbsp;заказам бонусами за&nbsp;регистрацию и&nbsp;кэшбэком с&nbsp;заказов, а&nbsp;также начисляйте бонусы за&nbsp;приглашения друзей и&nbsp;знакомых.`)

	// end sOpportunities