mixin sBox(data)
	// start sBox
	+b.SECTION.sBox.section#sBox&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 При подключении ресторана #[span.text-primary вы&nbsp;получаете CF BOX]
				h5 После интеграции чат-бота в&nbsp;ваш ресторан мы&nbsp;доставим вам CF&nbsp;BOX в&nbsp;котором вы&nbsp;получите рекламные материалы для продвижения чат-бота вашего ресторана:
				
			.row.align-items-center
				.col-lg-6 
					+e.imgWrap 
						img.res-i(src="img/box.png", alt="" loading="lazy")
						//- +pic('box.png','','')
				.col
					ul 
						li Тейбл-тенты формата А5&nbsp;для размещения на&nbsp;столах заведения.
						li Рекламные баннеры формата А5&nbsp;с логотипом ресторана и&nbsp;QR-кодом вашего чат-бота для тейбл-тентов.
						li Наклейки с&nbsp;логотипом ресторана и&nbsp;QR-кодом вашего чат-бота.
						li Брошюры А6&nbsp;с логотипом ресторана, QR-кодом и&nbsp;информацией о&nbsp;бонусах при регистрации в&nbsp;чат-боте (для заказов на&nbsp;доставку).
						li Наклейки с&nbsp;логотипом ресторана, QR-кодом и&nbsp;информацией о&nbsp;бонусах при регистрации в&nbsp;чат-боте (для заказов на&nbsp;доставку).
						li Инструкция с&nbsp;рекомендациями по&nbsp;продвижению чат-бота.
	// end sBox